In [ ]:
import numpy
import pandas as pd

In [ ]:
try:
    import pandas as pd
    print("Pandas is installed!")
except ImportError:
    print("Pandas is not installed.")

Pandas is installed!

In [ ]:
row_letter = input("Please enter the last letter (A to Z) for the row you've reached on the 384 wells plate: ").upper()

# Validate the row_letter to ensure it's a single alphabet letter
while not row_letter.isalpha() or len(row_letter) != 1:
    print("Invalid input. Please enter a single letter.")
    row_letter = input("Please enter the letter for the row you've reached: ").upper()

# Ask the user for the column number
column_number = input("Please enter the column number you've reached on the 384 wells plate: ")

# Validate the column_number to ensure it's an integer
while not column_number.isdigit():
    print("Invalid input. Please enter a valid number.")
    column_number = input("Please enter the column number you've reached: ")

# Convert the column number to an integer
column_number = int(column_number)

maximum_row_letter = (ord(row_letter) - ord('A') + 1)*24
print(f"{maximum_row_letter}")

Please enter the last letter (A to Z) for the row you've reached on the 384 wells plate: L
Please enter the column number you've reached on the 384 wells plate: 10
288

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/csv_quantification_cq_results.csv')

df_truncated = df.head(maximum_row_letter)
df_truncated

,Unnamed: 0,Well,Fluor,Target,Content,Sample,Biological Set Name,Cq,Cq Mean,Cq Std. Dev,Starting Quantity (SQ),Log Starting Quantity,SQ Mean,SQ Std. Dev,Set Point,Well Note
0,NaN,A01,SYBR,NaN,Unkn,NaN,NaN,30.69,30.69,0.0,NaN,NaN,NaN,0.0,60.0,NaN
1,NaN,A02,SYBR,NaN,Unkn,NaN,NaN,31.13,31.13,0.0,NaN,NaN,NaN,0.0,60.0,NaN
2,NaN,A03,SYBR,NaN,Unkn,NaN,NaN,27.74,27.74,0.0,NaN,NaN,NaN,0.0,60.0,NaN
3,NaN,A04,SYBR,NaN,Unkn,NaN,NaN,27.55,27.55,0.0,NaN,NaN,NaN,0.0,60.0,NaN
4,NaN,A05,SYBR,NaN,Unkn,NaN,NaN,37.30,37.30,0.0,NaN,NaN,NaN,0.0,60.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,NaN,L20,SYBR,NaN,Unkn,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,60.0,NaN
284,NaN,L21,SYBR,NaN,Unkn,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,60.0,NaN
285,NaN,L22,SYBR,NaN,Unkn,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,60.0,NaN
286,NaN,L23,SYBR,NaN,Unkn,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,60.0,NaN
287,NaN,L24,SYBR,NaN,Unkn,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,60.0,NaN

In [ ]:
# sample_name = ['Jurkat ∅', 'Jurkat ∅', 'Jurkat α', 'Jurkat α', 'Jurkat β', 'Jurkat β', 'Jurkat γ', 'Jurkat γ', 'P150 ∅', 'P150 α', 'P150 α', 'P150 β', 'P150 β', 'P150 γ', 'P150 γ',  'E912A ∅', 'E912A α', 'E912A α', 'E912A β', 'E912A β', 'E912A γ', 'E912A γ' ]

In [ ]:
multiply_input = input("Are you doing doublet or triplet? (doublet = 2, triplet = 3) : ")
multiply = int(multiply_input)

sample_name_list = []
sample_mapping = {}

for row_value in range(ord("A"), ord(row_letter)+1):
  letter = chr(row_value)
  item = input(f"Please enter letter {letter}'s corresponding sample name: ")
  sample_mapping[letter] = item

  for i in range(multiply):
    sample_name_list.append(item)

list_of_null = [None] * len (sample_name_list)

Are you doing doublet or triplet? (doublet = 2, triplet = 3) : 2
Please enter letter A's corresponding sample name: Jurkat ∅
Please enter letter B's corresponding sample name: Jurkat α
Please enter letter C's corresponding sample name: Jurkat β
Please enter letter D's corresponding sample name: Jurkat γ
Please enter letter E's corresponding sample name: P150 ∅
Please enter letter F's corresponding sample name: P150 α
Please enter letter G's corresponding sample name: P150 β
Please enter letter H's corresponding sample name: P150 γ
Please enter letter I's corresponding sample name: E912A ∅
Please enter letter J's corresponding sample name: E912A α
Please enter letter K's corresponding sample name: E912A β
Please enter letter L's corresponding sample name: E912A γ

In [ ]:
print(f"{sample_mapping}")

{'A': 'Jurkat ∅', 'B': 'Jurkat α', 'C': 'Jurkat β', 'D': 'Jurkat γ', 'E': 'P150 ∅', 'F': 'P150 α', 'G': 'P150 β', 'H': 'P150 γ', 'I': 'E912A ∅', 'J': 'E912A α', 'K': 'E912A β', 'L': 'E912A γ'}

In [ ]:
ref_gene = input("Please enter your reference gene's name: ")
total_target_gene = input("Please enter the total amount of your target gene: ")
target_genes = int (total_target_gene)

gene_list = []
gene_list.append(ref_gene)
gene_list.append(ref_gene)


for name in range(target_genes):
  number = int(name)
  target_gene_name = input(f"Please enter the name of your target gene_{number+1} : ")
  gene_list.append(target_gene_name)
  gene_list.append(target_gene_name)

print(f" ")
print(f"your Target_gene_list is : {gene_list}")

Please enter your reference gene's name: HPRT
Please enter the total amount of your target gene: 4
Please enter the name of your target gene_1 : total_ADAR1
Please enter the name of your target gene_2 : P150
Please enter the name of your target gene_3 : P110
Please enter the name of your target gene_4 : ISG15

your Target_gene_list is : ['HPRT', 'HPRT', 'total_ADAR1', 'total_ADAR1', 'P150', 'P150', 'P110', 'P110', 'ISG15', 'ISG15']

In [ ]:
data = {}
data["Sample_Name"] = sample_name_list
data["Ref_gene(" + ref_gene + ")"] = list_of_null

for key in target_gene_list:
  data["Cq ("+key+")"] = list_of_null

df_1 = pd.DataFrame(data)
df_1

NameError: name 'target_gene_list' is not defined

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/csv_quantification_cq_results.csv')
pd.set_option('display.max_rows', None)
df_truncated = df.head(maximum_row_letter)

df_trimmed = df_truncated.iloc[:, 1:-7]

df_trimmed['NumericPart'] = df_trimmed['Well'].str.extract('(\d+)$').astype(int)
df_trimmed = df_trimmed[df_trimmed['NumericPart'] <= column_number].drop('NumericPart', axis=1)
df_trimmed

    Well Fluor  Target Content  Sample  Biological Set Name     Cq  Cq Mean
0    A01  SYBR     NaN    Unkn     NaN                  NaN  30.69    30.69
1    A02  SYBR     NaN    Unkn     NaN                  NaN  31.13    31.13
2    A03  SYBR     NaN    Unkn     NaN                  NaN  27.74    27.74
3    A04  SYBR     NaN    Unkn     NaN                  NaN  27.55    27.55
4    A05  SYBR     NaN    Unkn     NaN                  NaN  37.30    37.30
5    A06  SYBR     NaN    Unkn     NaN                  NaN  37.09    37.09
6    A07  SYBR     NaN    Unkn     NaN                  NaN  34.42    34.42
7    A08  SYBR     NaN    Unkn     NaN                  NaN  34.03    34.03
8    A09  SYBR     NaN    Unkn     NaN                  NaN  29.32    29.32
9    A10  SYBR     NaN    Unkn     NaN                  NaN  29.49    29.49
24   B01  SYBR     NaN    Unkn     NaN                  NaN  32.18    32.18
25   B02  SYBR     NaN    Unkn     NaN                  NaN  32.29    32.29
26   B03  SYBR     NaN    Unkn     NaN                  NaN  30.83    30.83
27   B04  SYBR     NaN    Unkn     NaN                  NaN  30.30    30.30
28   B05  SYBR     NaN    Unkn     NaN                  NaN  37.39    37.39
29   B06  SYBR     NaN    Unkn     NaN                  NaN  38.07    38.07
30   B07  SYBR     NaN    Unkn     NaN                  NaN  35.62    35.62
31   B08  SYBR     NaN    Unkn     NaN                  NaN  36.22    36.22
32   B09  SYBR     NaN    Unkn     NaN                  NaN  29.56    29.56
33   B10  SYBR     NaN    Unkn     NaN                  NaN  29.45    29.45
48   C01  SYBR     NaN    Unkn     NaN                  NaN  31.65    31.65
49   C02  SYBR     NaN    Unkn     NaN                  NaN  31.86    31.86
50   C03  SYBR     NaN    Unkn     NaN                  NaN  29.03    29.03
51   C04  SYBR     NaN    Unkn     NaN                  NaN  28.50    28.50
52   C05  SYBR     NaN    Unkn     NaN                  NaN  37.03    37.03
53   C06  SYBR     NaN    Unkn     NaN                  NaN  38.26    38.26
54   C07  SYBR     NaN    Unkn     NaN                  NaN  37.13    37.13
55   C08  SYBR     NaN    Unkn     NaN                  NaN  36.27    36.27
56   C09  SYBR     NaN    Unkn     NaN                  NaN  27.73    27.73
57   C10  SYBR     NaN    Unkn     NaN                  NaN  28.01    28.01
72   D01  SYBR     NaN    Unkn     NaN                  NaN  35.01    35.01
73   D02  SYBR     NaN    Unkn     NaN                  NaN  35.28    35.28
74   D03  SYBR     NaN    Unkn     NaN                  NaN  32.22    32.22
75   D04  SYBR     NaN    Unkn     NaN                  NaN  32.05    32.05
76   D05  SYBR     NaN    Unkn     NaN                  NaN  43.08    43.08
77   D06  SYBR     NaN    Unkn     NaN                  NaN    NaN     0.00
78   D07  SYBR     NaN    Unkn     NaN                  NaN  39.15    39.15
79   D08  SYBR     NaN    Unkn     NaN                  NaN  39.99    39.99
80   D09  SYBR     NaN    Unkn     NaN                  NaN  33.55    33.55
81   D10  SYBR     NaN    Unkn     NaN                  NaN  34.04    34.04
96   E01  SYBR     NaN    Unkn     NaN                  NaN  22.17    22.17
97   E02  SYBR     NaN    Unkn     NaN                  NaN  21.92    21.92
98   E03  SYBR     NaN    Unkn     NaN                  NaN  22.82    22.82
99   E04  SYBR     NaN    Unkn     NaN                  NaN  22.75    22.75
100  E05  SYBR     NaN    Unkn     NaN                  NaN  33.04    33.04
101  E06  SYBR     NaN    Unkn     NaN                  NaN  32.81    32.81
102  E07  SYBR     NaN    Unkn     NaN                  NaN  29.11    29.11
103  E08  SYBR     NaN    Unkn     NaN                  NaN  29.41    29.41
104  E09  SYBR     NaN    Unkn     NaN                  NaN  21.57    21.57
105  E10  SYBR     NaN    Unkn     NaN                  NaN  21.75    21.75
120  F01  SYBR     NaN    Unkn     NaN                  NaN  31.03    31.03
121  F02  SYBR     NaN    Unkn     NaN                  NaN  31.20    31.20
122  F03  SYBR     NaN    Unkn     NaN                  NaN  30.72    30.72
123  F04  SYBR     NaN    Unkn     NaN                  NaN  30.09    30.09
124  F05  SYBR     NaN    Unkn     NaN                  NaN  37.98    37.98
125  F06  SYBR     NaN    Unkn     NaN                  NaN  39.22    39.22
126  F07  SYBR     NaN    Unkn     NaN                  NaN  37.75    37.75
127  F08  SYBR     NaN    Unkn     NaN                  NaN  37.13    37.13
128  F09  SYBR     NaN    Unkn     NaN                  NaN  28.65    28.65
129  F10  SYBR     NaN    Unkn     NaN                  NaN  28.36    28.36
144  G01  SYBR     NaN    Unkn     NaN                  NaN  33.70    33.70
145  G02  SYBR     NaN    Unkn     NaN                  NaN  34.42    34.42
146  G03  SYBR     NaN    Unkn     NaN                  NaN  32.25    32.25
147  G04  SYBR     NaN    Unkn     NaN                  NaN  32.49    32.49
148  G05  SYBR     NaN    Unkn     NaN                  NaN  37.89    37.89
149  G06  SYBR     NaN    Unkn     NaN                  NaN  38.48    38.48
150  G07  SYBR     NaN    Unkn     NaN                  NaN  37.88    37.88
151  G08  SYBR     NaN    Unkn     NaN                  NaN  38.11    38.11
152  G09  SYBR     NaN    Unkn     NaN                  NaN  29.77    29.77
153  G10  SYBR     NaN    Unkn     NaN                  NaN  29.80    29.80
168  H01  SYBR     NaN    Unkn     NaN                  NaN  24.91    24.91
169  H02  SYBR     NaN    Unkn     NaN                  NaN  25.93    25.93
170  H03  SYBR     NaN    Unkn     NaN                  NaN  26.72    26.72
171  H04  SYBR     NaN    Unkn     NaN                  NaN  27.12    27.12
172  H05  SYBR     NaN    Unkn     NaN                  NaN  35.20    35.20
173  H06  SYBR     NaN    Unkn     NaN                  NaN  35.13    35.13
174  H07  SYBR     NaN    Unkn     NaN                  NaN  32.22    32.22
175  H08  SYBR     NaN    Unkn     NaN                  NaN  31.84    31.84
176  H09  SYBR     NaN    Unkn     NaN                  NaN  24.27    24.27
177  H10  SYBR     NaN    Unkn     NaN                  NaN  24.59    24.59
192  I01  SYBR     NaN    Unkn     NaN                  NaN  30.37    30.37
193  I02  SYBR     NaN    Unkn     NaN                  NaN  31.11    31.11
194  I03  SYBR     NaN    Unkn     NaN                  NaN  31.08    31.08
195  I04  SYBR     NaN    Unkn     NaN                  NaN  31.06    31.06
196  I05  SYBR     NaN    Unkn     NaN                  NaN  40.53    40.53
197  I06  SYBR     NaN    Unkn     NaN                  NaN  38.39    38.39
198  I07  SYBR     NaN    Unkn     NaN                  NaN  36.95    36.95
199  I08  SYBR     NaN    Unkn     NaN                  NaN  37.19    37.19
200  I09  SYBR     NaN    Unkn     NaN                  NaN  30.51    30.51
201  I10  SYBR     NaN    Unkn     NaN                  NaN  31.13    31.13
216  J01  SYBR     NaN    Unkn     NaN                  NaN  32.98    32.98
217  J02  SYBR     NaN    Unkn     NaN                  NaN  33.56    33.56
218  J03  SYBR     NaN    Unkn     NaN                  NaN  32.91    32.91
219  J04  SYBR     NaN    Unkn     NaN                  NaN  32.18    32.18
220  J05  SYBR     NaN    Unkn     NaN                  NaN  44.77    44.77
221  J06  SYBR     NaN    Unkn     NaN                  NaN  38.62    38.62
222  J07  SYBR     NaN    Unkn     NaN                  NaN  40.67    40.67
223  J08  SYBR     NaN    Unkn     NaN                  NaN  38.62    38.62
224  J09  SYBR     NaN    Unkn     NaN                  NaN  31.00    31.00
225  J10  SYBR     NaN    Unkn     NaN                  NaN  31.56    31.56
240  K01  SYBR     NaN    Unkn     NaN                  NaN  34.36    34.36
241  K02  SYBR     NaN    Unkn     NaN                  NaN  35.40    35.40
242  K03  SYBR     NaN    Unkn     NaN                  NaN  33.95    33.95
243  K04  SYBR     NaN    Unkn     NaN                  NaN  33.63    33.63
244  K05  SYBR     NaN    Unkn     NaN                  NaN  43.11    43.11
245  K06  SYBR     NaN    Unkn     NaN                  NaN  41.31    41.31
246  K07  SYBR     NaN    Unkn     NaN                  NaN  39.93    39.93
247  K08  SYBR     NaN    Unkn     NaN                  NaN  39.83    39.83
248  K09  SYBR     NaN    Unkn     NaN                  NaN  31.06    31.06
249  K10  SYBR     NaN    Unkn     NaN                  NaN  31.11    31.11
264  L01  SYBR     NaN    Unkn     NaN                  NaN  32.06    32.06
265  L02  SYBR     NaN    Unkn     NaN                  NaN  32.26    32.26
266  L03  SYBR     NaN    Unkn     NaN                  NaN  31.78    31.78
267  L04  SYBR     NaN    Unkn     NaN                  NaN  31.68    31.68
268  L05  SYBR     NaN    Unkn     NaN                  NaN    NaN     0.00
269  L06  SYBR     NaN    Unkn     NaN                  NaN  39.48    39.48
270  L07  SYBR     NaN    Unkn     NaN                  NaN  39.18    39.18
271  L08  SYBR     NaN    Unkn     NaN                  NaN  39.06    39.06
272  L09  SYBR     NaN    Unkn     NaN                  NaN  31.73    31.73
273  L10  SYBR     NaN    Unkn     NaN                  NaN  32.43    32.43

In [ ]:
df_2 = df_1.copy()
df_2
# print(f"{df_2['Sample_Name']}")

   Sample_Name Ref_gene(HPRT) Cq (Total_ADAR1) Cq (P150) Cq (P110) Cq (ISG15)
0     Jurkat ∅           None             None      None      None       None
1     Jurkat ∅           None             None      None      None       None
2     Jurkat α           None             None      None      None       None
3     Jurkat α           None             None      None      None       None
4     Jurkat β           None             None      None      None       None
5     Jurkat β           None             None      None      None       None
6     Jurkat γ           None             None      None      None       None
7     Jurkat γ           None             None      None      None       None
8       P150 ∅           None             None      None      None       None
9       P150 ∅           None             None      None      None       None
10      P150 α           None             None      None      None       None
11      P150 α           None             None      None      None       None
12      P150 β           None             None      None      None       None
13      P150 β           None             None      None      None       None
14      P150 γ           None             None      None      None       None
15      P150 γ           None             None      None      None       None
16     E912A ∅           None             None      None      None       None
17     E912A ∅           None             None      None      None       None
18     E912A α           None             None      None      None       None
19     E912A α           None             None      None      None       None
20     E912A β           None             None      None      None       None
21     E912A β           None             None      None      None       None
22     E912A γ           None             None      None      None       None
23     E912A γ           None             None      None      None       None

In [ ]:
# Simulating the df_samples DataFrame based on the provided structure
df_2

# Define the mapping based on the description
gene_mapping = {
    1: 'Ref_gene(HPRT)',
    2: 'Ref_gene(HPRT)',
    3: 'Cq (Total_ADAR1)',
    4: 'Cq (Total_ADAR1)',
    5: 'Cq (P150)',
    6: 'Cq (P150)',
    7: 'Cq (P110)',
    8: 'Cq (P110)',
    9: 'Cq (ISG15)',
    10: 'Cq (ISG15)',
}
# /////change the gene_mapping!!!!

# sample_mapping have it already

# Simulated data from df_trimmed based on the structure provided earlier
data_trimmed = {
    'Well': df_trimmed['Well'].tolist(),
    'Cq': df_trimmed['Cq'].tolist()
}

df_trimmed = pd.DataFrame(data_trimmed)

# Update df_samples based on df_trimmed data
for index, row in df_trimmed.iterrows():
    numeric_part = int(row['Well'][1:])
    # print(f"{numeric_part}")
    letter_part = row['Well'][0]
    # print(f"{letter_part}")
    gene_column = gene_mapping.get(numeric_part)
    # print(f"{gene_column}")
    sample_name = sample_mapping.get(letter_part)
    # print(f"{sample_name}")

    if gene_column and sample_name:
    # if gene_column:
        df_2.loc[df_2['Sample_Name'].str.contains(sample_name, regex=False), gene_column] = row['Cq']

df_2

   Sample_Name Ref_gene(HPRT) Cq (Total_ADAR1) Cq (P150) Cq (P110) Cq (ISG15)
0     Jurkat ∅          31.13            27.55     37.09     34.03      29.49
1     Jurkat ∅          31.13            27.55     37.09     34.03      29.49
2     Jurkat α          32.29             30.3     38.07     36.22      29.45
3     Jurkat α          32.29             30.3     38.07     36.22      29.45
4     Jurkat β          31.86             28.5     38.26     36.27      28.01
5     Jurkat β          31.86             28.5     38.26     36.27      28.01
6     Jurkat γ          35.28            32.05       NaN     39.99      34.04
7     Jurkat γ          35.28            32.05       NaN     39.99      34.04
8       P150 ∅          21.92            22.75     32.81     29.41      21.75
9       P150 ∅          21.92            22.75     32.81     29.41      21.75
10      P150 α           None             None      None      None       None
11      P150 α           None             None      None      None       None
12      P150 β           None             None      None      None       None
13      P150 β           None             None      None      None       None
14      P150 γ           None             None      None      None       None
15      P150 γ           None             None      None      None       None
16     E912A ∅           None             None      None      None       None
17     E912A ∅           None             None      None      None       None
18     E912A α           None             None      None      None       None
19     E912A α           None             None      None      None       None
20     E912A β           None             None      None      None       None
21     E912A β           None             None      None      None       None
22     E912A γ           None             None      None      None       None
23     E912A γ           None             None      None      None       None

In [ ]:
well_list = df_trimmed['Well'].tolist()
print("Well List:", well_list)

Well List: ['A01', 'A02', 'A03', 'A04', 'A05', 'A06', 'A07', 'A08', 'A09', 'A10', 'B01', 'B02', 'B03', 'B04', 'B05', 'B06', 'B07', 'B08', 'B09', 'B10', 'C01', 'C02', 'C03', 'C04', 'C05', 'C06', 'C07', 'C08', 'C09', 'C10', 'D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10', 'E01', 'E02', 'E03', 'E04', 'E05', 'E06', 'E07', 'E08', 'E09', 'E10']